{% extends 'base.html.twig' %}

{% block title %}EcoGaming{% endblock %}

{% block body %}

<body>
<div class="homepagediv"><h1>EcoGaming</h1></div>

<div class="homepagesection">
<section>
  <div class="container">
      <div class="col">
	  <div class="row">
        <h2>Les Jeux Vidéo</h2>
        <img src="img/cartouche.png">
		</div>
        <p>Information sur les jeux vidéo</p>
        <a href="/jeux" class="btn">Voir</a>
      </div>
      <div class="col">
	   <div class="row">
        <h2>Les Consoles</h2>
        <img src="img/console.png">
		</div>
        <p>Information sur les consoles</p>
        <a href="/console" class="btn">Voir</a>
      </div>
      <div class="col">
	   <div class="row">
        <h2>Les Ordinateurs</h2>
        <img src="img/computer.png">
		</div>
        <p>Information sur les ordinateurs</p>
        <a href="/ordinateur" class="btn">Voir</a>
      </div>
      <div class="col">
	   <div class="row">
        <h2>Autre</h2>
        <img src="img/autre.png">
		</div>
        <p>Autre informations pertinentes</p>
        <a href="/autre" class="btn">Voir</a>
      </div>
  </div>
</section>
</div>

</body>
{% endblock %}
