{% extends 'base.html.twig' %}

{% block title %}Ordinateur{% endblock %}

{% block body %}

<div class="ordinateur">

<div class="titreo"><h1>Ordinateur</h1></div>

<div class="menuo">
	<nav>
		<div class="ordimenu"><a href="#informationo">Information</a></div>
		<div class="ordimenu"><a href="#creationo">Creation</a></div>
		<div class="ordimenu"><a href="#futuro">Recyclage</a></div>
		<div class="ordimenu"><a href="#autreo">Autre</a></div>
	</nav>
</div>

<div class="informationo" id="informationo">
	<h1>Information Générale</h1>
	<p>Lorem Ipsum</p>
</div>


<div class="creationo" id="informationo">
	<h1>La création d'un Ordinateur</h1>
	
	<div class="portableo">
		<h2>La creation</h2>
		<p>Lorem Ipsum</p>
	</div>

</div>

<div class="futuro" id="futuro">

	<h1>Recyclage d'un ordinateur</h1>
	
	<div class="portableo">
		<h2>Le recyclage</h2>
		<p>Lorem Ipsum</p>
	</div>

	
</div>

<div class="autreo" id="autreo">
<h1>Autre informations pertinentes sur les ordinateurs</h1>
<p>Lorem Ipsum</p>
</div>



</div>


{% endblock %}
