{% extends 'base.html.twig' %}

{% block title %}Ordinateur{% endblock %}

{% block body %}

<div class="ordinateur">

<div class="titreo"><h1>Ordinateur</h1></div>

<div class="menuo">
	<nav>
		<div class="ordimenu"><a href="#information">Information</a></div>
		<div class="ordimenu"><a href="#creation">Creation</a></div>
		<div class="ordimenu"><a href="#futur">Recyclage</a></div>
		<div class="ordimenu"><a href="#autre">Autre</a></div>
	</nav>
</div>

<div class="informationo" id="information">
	<h1>Information Générale</h1>
	<p>Les ordinateurs fixes et portables ont un impact sur l'environnement. Les ordinateurs fixes sont souvent considérés comme plus durables et économes en énergie que les ordinateurs portables. Cependant, les composants électroniques utilisés dans les deux types d'ordinateurs peuvent être nocifs pour l'environnement s'ils ne sont pas correctement recyclés. De plus, l'utilisation excessive d'ordinateurs, qu'ils soient fixes ou portables, peut contribuer à la consommation d'énergie et aux émissions de gaz à effet de serre. Il est important de prendre en compte ces facteurs lors de l'achat et de l'utilisation d'un ordinateur, et de chercher des moyens de minimiser leur impact environnemental.</p>
</div>


<div class="creationo" id="creation">
	<h1>La création d'un Ordinateur</h1>
	
	<div class="portableo">
		<h2>La creation</h2>
		<p>La fabrication des ordinateurs et de leurs composants peut avoir un impact significatif sur l'environnement. La production de composants électroniques nécessite des matériaux rares et coûteux qui doivent être extraits de la terre, souvent dans des conditions dangereuses pour les travailleurs et l'environnement. De plus, le processus de fabrication utilise des quantités considérables d'énergie et d'eau, et produit des émissions de gaz à effet de serre.

Il est important de prendre en compte l'impact environnemental de la fabrication des ordinateurs et de leurs composants lors de l'achat d'un nouvel ordinateur. Recherchez des entreprises qui utilisent des matériaux durables et recyclables dans leurs produits, ainsi que des processus de fabrication économes en énergie. De plus, envisagez d'acheter des ordinateurs reconditionnés ou d'occasion pour réduire la demande de nouveaux produits.

En conclusion, la fabrication des ordinateurs et de leurs composants a un impact environnemental important, mais en prenant des décisions éclairées lors de l'achat et en optant pour des produits durables et recyclables, nous pouvons tous contribuer à réduire cet impact.</p>
	</div>

</div>

<div class="futuro" id="futur">

	<h1>Recyclage d'un ordinateur</h1>
	
	<div class="portableo">
		<h2>Le recyclage</h2>
		<p>Le recyclage des ordinateurs et de leurs composants est crucial pour éviter la pollution environnementale. Les composants électroniques contiennent souvent des métaux lourds et d'autres substances toxiques qui peuvent nuire à la santé humaine et à l'environnement s'ils ne sont pas éliminés correctement.

Il est important de ne pas jeter les ordinateurs ou leurs composants à la poubelle. Au lieu de cela, recherchez des programmes de recyclage de l'électronique dans votre région. De nombreux fabricants proposent également des programmes de recyclage pour leurs produits. Avant de recycler votre ordinateur, assurez-vous de supprimer toutes les données personnelles et de sauvegarder les fichiers importants sur un autre support.

En résumé, le recyclage des ordinateurs et de leurs composants est une responsabilité environnementale importante pour tous les utilisateurs d'ordinateurs. En trouvant des moyens de recycler correctement les composants électroniques, nous pouvons tous contribuer à réduire notre impact environnemental.</p>
	</div>

	
</div>

<div class="autreo" id="autre">
<h1>Conseils</h1>
<p>Utilisez un ordinateur portable plutôt qu'un ordinateur de bureau. Les ordinateurs portables sont plus écoénergétiques, car ils utilisent moins d'énergie pour fonctionner et leur empreinte carbone est souvent plus faible que celle des ordinateurs de bureau.

Éteignez votre ordinateur lorsque vous ne l'utilisez pas. Même en mode veille, l'ordinateur consomme de l'électricité et émet des émissions de CO2.

Utilisez des accessoires écoénergétiques, tels que des souris et des claviers sans fil rechargeables. Cela permet de réduire la consommation d'énergie et les émissions de CO2 associées à la production et au transport de piles.

Évitez de laisser plusieurs applications ouvertes simultanément. Plus il y a de programmes ouverts, plus l'ordinateur consomme d'énergie et émet de CO2.

Lorsque vous n'utilisez pas votre ordinateur, activez le mode d'économie d'énergie ou de mise en veille prolongée. Cela réduit la consommation d'énergie et les émissions de CO2.

Recyclez votre ordinateur en fin de vie de manière responsable. Les centres de recyclage acceptent généralement les appareils électroniques, alors assurez-vous de les jeter correctement plutôt que de les jeter à la poubelle. Cela permet de réduire les émissions de CO2 liées à l'extraction, la production et l'élimination des matériaux.</p>
</div>



</div>


{% endblock %}
