{% extends 'base.html.twig' %}

{% block title %}Jeux Vidéo{% endblock %}

{% block body %}


<div class="jeux">

<div class="titrej"><h1>Jeux Vidéo</h1></div>

<div class="menuj">
	<nav>
		<div class="jeuxmenu"><a href="#informationj">Information</a></div>
		<div class="jeuxmenu"><a href="#creationj">Creation</a></div>
		<div class="jeuxmenu"><a href="#futurj">Recyclage</a></div>
		<div class="jeuxmenu"><a href="#autrej">Autre</a></div>
	</nav>
</div>

<div class="informationj" id="informationj">
	<h1>Information Générale</h1>
	<p>Lorem Ipsum</p>
</div>


<div class="creationj" id="informationj">
	<h1>La création d'un jeux vidéo</h1>
	
	<div class="physiquej">
		<h2>Physique</h2>
		<p>Lorem Ipsum</p>
	</div>
	
	<div class="enlignej">
		<h2>En ligne</h2>
		<p>Lorem Ipsum</p>
	</div>
</div>

<div class="futurj" id="futurj">

	<h1>Recyclage d'un jeux vidéo</h1>
	
	<div class="physiquej">
		<h2>Physique</h2>
		<p>Lorem Ipsum</p>
	</div>
	
	<div class="enlignej">
		<h2>En ligne</h2>
		<p>Lorem Ipsum</p>
	</div>
	
</div>

<div class="autrej" id="autrej">
<h1>Autre informations pertinentes sur les jeux vidéo</h1>
<p>Lorem Ipsum</p>
</div>



</div>



{% endblock %}
