{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<div class="contact">
<h1>Information de contact</h1>

<h2>Email : ecogaming@outlook.com </h2>

</div>

{% endblock %}
