{% extends 'base.html.twig' %}

{% block title %}Autre{% endblock %}

{% block body %}
<div class="Autre">

<div class="titrea"><h1>Autre</h1></div>

<div class="menua">
	<nav>
		<div class="autremenu"><a href="#informationa">Information</a></div>
	</nav>
</div>

<div class="informationa" id="informationa">
	
</div>





</div>

{% endblock %}
