{% extends 'base.html.twig' %}

{% block title %}Autre{% endblock %}

{% block body %}
<div class="Autre">

<div class="titrea"><h1>Autre</h1>
<p>Autre information pertinentes</p></div>

<div class="menua">
	<nav>
		<div class="autremenu"><a href="#information">Information</a></div>
	</nav>
</div>

<div class="informationa" id="esport">
	<h2>Esport</h2>
	<p>
	L'esport est une industrie en pleine croissance qui a un impact sur l'environnement, principalement en raison de la quantité d'énergie nécessaire pour les événements et des voyages générés par les joueurs, les organisateurs et les spectateurs. De plus, la production d'équipements électroniques pour l'esport peut avoir des conséquences négatives pour l'environnement. Toutefois, l'esport peut également contribuer à réduire l'empreinte carbone en permettant aux joueurs de se connecter et de concourir à distance. Les organisateurs peuvent également adopter des pratiques durables pour minimiser leur impact environnemental. En fin de compte, il est important de reconnaître les impacts environnementaux de l'esport et de travailler ensemble pour promouvoir des pratiques durables dans l'industrie.
	</p>
</div>





</div>

{% endblock %}
