{% extends 'base.html.twig' %}

{% block title %}Console{% endblock %}

{% block body %}
<div class="console">

<div class="titrec"><h1>Console</h1></div>

<div class="menuc">
	<nav>
		<div class="consolemenu"><a href="#informationc">Information</a></div>
		<div class="consolemenu"><a href="#creationc">Creation</a></div>
		<div class="consolemenu"><a href="#futurc">Recyclage</a></div>
		<div class="consolemenu"><a href="#autrec">Autre</a></div>
	</nav>
</div>

<div class="informationc" id="informationc">
	<h1>Information Générale</h1>
	<p>Lorem Ipsum</p>
</div>


<div class="creationc" id="informationc">
	<h1>La création d'une Console</h1>
	<p>Lorem Ipsum</p>

</div>

<div class="futurc" id="futurc">

	<h1>Recyclage d'une console</h1>
		<p>Lorem Ipsum</p>

</div>

<div class="autrec" id="autrec">
<h1>Autre informations pertinentes sur les consoles</h1>
<p>Lorem Ipsum</p>
</div>



</div>

{% endblock %}
