{% extends 'base.html.twig' %}

{% block title %}Console{% endblock %}

{% block body %}
<div class="console">

<div class="titrec"><h1>Console</h1></div>

<div class="menuc">
	<nav>
		<div class="consolemenu"><a href="#information">Information</a></div>
		<div class="consolemenu"><a href="#creation">Creation</a></div>
		<div class="consolemenu"><a href="#futur">Recyclage</a></div>
		<div class="consolemenu"><a href="#autre">Autre</a></div>
	</nav>
</div>

<div class="informationc" id="information">
	<h1>Information Générale</h1>
	<p>Les consoles de jeux vidéo sont des appareils électroniques de divertissement de plus en plus populaires dans le monde entier. Elles permettent aux joueurs de se divertir et de se connecter avec d'autres joueurs à travers le monde. Cependant, avec leur utilisation accrue, il est important de considérer leur impact potentiel sur l'environnement.</p>
</div>


<div class="creationc" id="creation">
	<h1>La création d'une Console</h1>
	<p>La création des consoles de jeux vidéo et de leurs composants peut avoir un impact environnemental significatif. La production de composants électroniques nécessite des ressources naturelles précieuses, telles que des métaux rares, qui doivent être extraits de la terre, souvent dans des conditions dangereuses pour les travailleurs et l'environnement. De plus, le processus de fabrication utilise des quantités considérables d'énergie et d'eau, et produit des émissions de gaz à effet de serre.

Il est important de prendre en compte l'impact environnemental de la fabrication des consoles de jeux vidéo lors de l'achat d'une nouvelle console. Les entreprises qui utilisent des matériaux durables et recyclables dans leurs produits, ainsi que des processus de fabrication économes en énergie, devraient être privilégiées. De plus, envisagez d'acheter des consoles reconditionnées ou d'occasion pour réduire la demande de nouveaux produits.

En somme, la création des consoles de jeux vidéo et de leurs composants a un impact environnemental important, mais en prenant des décisions éclairées lors de l'achat et en optant pour des produits durables et recyclables, nous pouvons tous contribuer à réduire cet impact.</p>

</div>

<div class="futurc" id="futur">

	<h1>Recyclage d'une console</h1>
		<p>Le recyclage des consoles de jeux est important pour préserver l'environnement. Les consoles contiennent des matériaux tels que le plastique, le métal et le verre, qui peuvent être réutilisés dans la fabrication de nouveaux produits. Cela permet d'économiser des ressources naturelles et de réduire la quantité de déchets envoyés dans les décharges. Il est important de ne pas jeter les consoles usagées avec les déchets ménagers, mais plutôt de les apporter dans des centres de recyclage spécialisés. De plus, il est également possible de donner ou de vendre les consoles encore en bon état à d'autres personnes, afin de prolonger leur durée de vie et de réduire la demande pour de nouveaux produits.</p>

</div>

<div class="autrec" id="autre">
<h1>Conseils</h1>
<p>Achetez des consoles d'occasion ou échangez-les avec d'autres joueurs. Cela réduit la demande pour de nouvelles consoles, réduisant ainsi les émissions de CO2 liées à la production de nouveaux appareils électroniques.

Évitez d'acheter de nouvelles consoles à chaque nouvelle génération. Les nouvelles consoles ont souvent une empreinte carbone plus élevée en raison de la production, du transport et de l'élimination des anciennes consoles.

Éteignez complètement la console lorsque vous ne l'utilisez pas, plutôt que de la laisser en mode veille. Cela réduit la consommation d'énergie et les émissions de CO2 associées à l'utilisation d'électricité.

Recyclez les consoles en fin de vie de manière responsable. Les centres de recyclage acceptent généralement les appareils électroniques, alors assurez-vous de les jeter correctement plutôt que de les jeter à la poubelle. Cela permet de réduire les émissions de CO2 liées à l'extraction, la production et l'élimination des matériaux.

Utilisez des accessoires de jeu écoénergétiques, tels que des manettes rechargeables au lieu de piles jetables. Cela réduit la consommation d'énergie et les émissions de CO2 associées à la production et au transport de piles.</p>
</div>



</div>

{% endblock %}
